{% extends "base.html" %}

{% block content %}
    <header>
        <h1>check it out</h1>
    </header>
    {% block page %}
        <p>nothing to see here... (if your the dev responsible for rendering this template directly... shame...)</p>
    {% endblock %}
    <footer>
        <article>
            <img src="{{ current_user.gh.user().avatar_url }}" alt="your avatar"/>
            <p>hey, {{ current_user.name }} (or as you wish your would friends say, {{ current_user.username }}). be cool and mess with your <a href="{{ url_for('settings') }}">settings</a>, or be the other thing if you want to  <a href="{{ url_for('logout') }}" title="meanie :[">log out</a></p>
        </article>
    </footer>
{% endblock %}
