<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}check it out{% endblock %}</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela Round|Poly">
        <link rel="stylesheet" href="{{ url_for('static', filename='golden.css') }}" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="{{ url_for('static', filename='zepto.js') }}"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
