{% extends "base.html" %}

{% block content %}
    <header>
        <h1>check it out</h1>
    </header>
    <article>
        <h2>{{ repo.name }}</h2>
        <p><em>{{ repo.description }}</em></p>

        <h3>branches</h3>
        <ul>
            {% for branch in repo.iter_branches() %}
                <li>
                    <h4>{{ branch.name }}</h4>
                    <p>sha: {{ branch.commit.sha }}</p>
                </li>
            {% endfor %}
        </ul>
    </article>

    <footer>
        <article>
            <img src="{{ current_user.avatar_url }}" alt="your avatar"/>
            <p>hey, {{ current_user.name }} (or as you wish your would friends say, {{ current_user.login }}). not sure why you might ever want to, but you could  <a href="{{ url_for('logout') }}" title="meanie :[">log out</a></p>
        </article>
    </footer>
{% endblock %}
