{% extends "base.html" %}

{% block content %}
    <header>
        <h1>check it out</h1>
    </header>
    {% for repo in repos %}
        <article>
            <h2>{{ repo.name }}</h2>
            <p>{{ repo.description }}</p>

            <h3>Branches</h3>
            <ul>
                {% for branch in repo.iter_branches() %}
                    <li>
                        <h4>{{ branch.name }}</h4>
                        <p><a href="{{ app_url(branch=branch.name) }}">Check it out »</a></p>
                        <p>sha: {{ branch.commit.sha }}</p>
                    </li>
                {% endfor %}
            </ul>
        </article>
    {% endfor %}
    <footer>
        <article>
            <img src="{{ current_user.avatar_url }}" alt="your avatar"/>
            <p>hey, {{ current_user.name }} (or as you wish your would friends say, {{ current_user.login }}). not sure why you might ever want to, but you could  <a href="{{ url_for('logout') }}" title="meanie :[">log out</a></p>
        </article>
    </footer>
{% endblock %}
