{% extends "boilerplate.html" %}

{% block page %}
    {% for repo in repos %}
        <article>
            <h2>{{ repo.name }}</h2>
            <p>{{ repo.description }}</p>

            <h3>Branches</h3>
            <ul>
                {% for branch in repo.iter_branches() %}
                    <li>
                        <h4>{{ branch.name }}</h4>
                        <p><a href="{{ app_url(branch=branch.name) }}">Check it out »</a></p>
                        <p>sha: {{ branch.commit.sha }}</p>
                    </li>
                {% endfor %}
            </ul>
        </article>
    {% endfor %}
{% endblock %}
